---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "ホームページ";

import { Image } from 'astro:assets';
import localBirdImage from '../assets/img/bird.png';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>私の素晴らしいブログのサブタイトル</h2>
   <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />

   	<div class="img_wrap">
		<Image src={localBirdImage} alt="巣の中の卵を温めている鳥。"/>
	</div>

	<div class="img_wrap red">
		<img src={localBirdImage.src} alt="巣の中の卵を温めている鳥。">
	</div>
</BaseLayout>

<style lang="scss">
.img{
	&_wrap{
		border:1px solid #333;
		&.red{
			border-color: red;
		}
	}
}
</style>